* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  background-image: url("../../assets/images/old2.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* background-color:#00FFFF; */
  padding-top: 35px;
  padding-bottom: 15%;
  display: flex;
  flex-direction: row;
}

.Navbar {
  background-color: grey;
  padding: 10px 10px;
}


.heading {
  font-size: 5rem;
  color: white;
  text-align: center;
  padding-left: 650px;
  margin-top: 7%;
}

.Username {
  margin-left: 60%;
  padding-top: 7px ;
  width: 22%;
}

.Userbtn {
  padding: 2px 4px;
  margin-left: 10px;
}

.InputContainer h3 {
  display: inline;
  overflow: hidden;
  white-space: nowrap;
}


.InfoContainer {
  background-color: #F8F8FF;
  display: flex;
}

.InputContainer {
  width: 30%;
  height: 40%;
  margin-top: 5%;
  margin-left: 13%;
  padding: 8%;
  background-color: #FFFAF0;
  border: 1px solid #eee ;
  box-shadow: 0 2px 3px #ccc;
}

.login {
  margin-left: 48%;
  padding: 10px;
}

.NavigationItems {
    flex-flow: row;
}

.NavigationItem {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
}

.NavigationItem a {
    position: relative;
    color: white;
    height: 100%;
    padding: 25px 10px;
    margin-top: 20px;
    border-bottom: 4px solid transparent;
    left: 1300px;
}


.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: purple;
}

.DirectionContainer {
  display: flex;
  flex-direction: row;
}

@media (max-width:770px) {
  .container {
    flex-direction: column;
    /* display: inline-block; */
  }

  .heading {
    padding-left: 35%;
    font-size: 1.2rem;
  }

  .NavigationItem a {
    padding: 10px 5px;
    top: -15px;
    left: 190%;
  }

  .Username {
    margin-left: 45%;
    padding-top: 3px;
    width: 32%;
  }

  .Userbtn {
    padding: 2px 2px;
    margin-left: 7px;
  }

  .InputContainer {
    width: 80%;
    height: 70%;
    /* margin-left: 10%; */
  }

  .InputContainer h3{
    font-size: 0.9rem;
  }

  .Navbar {
    background-color: grey;
    padding: 10px 10px;
    margin-left: auto;
  }

  .DirectionContainer {
    flex-direction: column;
  }

  .login {
    margin-left: 45%;
  }

}
